.info {
    background-color: white;
    margin-left: 5px;
    position: relative;
    z-index: 3;
    width: 17.3vw;
    height: 75vh;
    margin-right: 0px;
    padding-right: 0px;
    overflow-y: auto;
}

.info::-webkit-scrollbar {
    width: 5px;
}

.info::-webkit-scrollbar-thumb {
    background-color: #d4e3fc;
}

.info .rec {
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    justify-content: left;
}

.info .name {
    color: black;
    margin-bottom: 2px;
}
.info .end{
    padding-bottom: 7px;
}
.info .desc {
    border-top: 1px solid #75a9f9;
    padding-top: 7px;
}

.info li {
    margin-left: 5px;
    color: #444444;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.info .buttons {
    display: inline-block;
} 

.button1 {
    border-radius: 15px;
    background-color: white;
    border-style: solid;
    border-color: #a8c6fa;
    border-width: 2px;
    margin: 3px 3px 3px 0px;
    font-size: 11px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button1:hover {
    background-color: #d4e3fc;
}

.mark {
    background-color: #d4e3fc;
    border-radius: 5px;
    font-size: 11px;
    color: #3d8af7;
    padding: 3px;
    margin: 2px;
    font-weight: bolder;
    display:inline-block;
}

.courseBox {
    width: 17vw;
}

.comForm {
    padding-top: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
}

.comForm .textA {
    outline: none;
    border: 1.5px solid #a8c6fa;
    padding: 2px;
    margin: 5px;
    width: 70%;
    position: relative;
}

.comForm .button1 {
    padding: 3px 6px;
}

#course {
    white-space: normal;
    word-break: keep-all;
    word-wrap: break-word;
    margin-top: 0px;
    margin-bottom: 3px;
}

#courseRec{
    margin-top: 5px;
}

#heart {
    border-radius: 8px;
    padding: 1px;
}