.searchBox {
    position: absolute;
    top: 103px;
    left: 7.5vw;
}

.searchBackground {
    background-color: white;
    padding: 10px;
    height: 79.5vh;
    width: 16.5vw;
    position: absolute;
    border-style: solid;
    border-color: #a8c6fa;
    border-width: 2px;
    z-index: 1;
}

.infoBox {
    background-color: white;
    margin-left: 5px;
    width: 16.5vw;
    position: relative;
    z-index: 2;
}

.searchBox ul {
    list-style-type: none;
    padding-left: 0px;
}

.searchBox li {
    margin-left: 5px;
    color: #444444;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.searchBox .name {
    color: black;
    margin-bottom: 2px;
    font-weight: bold;
}

.searchBox .end {
    border-bottom: 1px solid #75a9f9;
    padding-bottom: 4px;
}

.searchBox .search {
    background-color: white;
    border-style: solid;
    border-color: #a8c6fa;
    border-width: 1px;
    border-radius: 30px;
    padding: 2px 5px;
    margin: 5px;
    width: 14.7vw;
    position: relative;
    z-index: 2;
}
.searchBox input {
    background-color: none;
    border-style: none;
    padding-left: 5px;
    outline: none;
    width: 13.2vw;
}

