.info {
    background-color: white;
    margin-left: 5px;
    position: relative;
    z-index: 3;
    width: 210px;
}

.info .rec {
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
}

.info .name {
    color: black;
    margin-bottom: 2px;
}
.info .end{
    margin-bottom: 4px;
}
.info .desc {
    border-top: 1px solid #75a9f9;
    padding-top: 4px;
}

.info li {
    margin-left: 5px;
    color: #444444;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.info .buttons {
    display: inline-block;
} 

.button1 {
    border-radius: 15px;
    background-color: white;
    border-style: solid;
    border-color: #a8c6fa;
    border-width: 2px;
    margin: 3px 3px 3px 0px;
    font-size: 11px;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
}

.mark {
    background-color: #d4e3fc;
    border-radius: 5px;
    font-size: 11px;
    color: #3d8af7;
    padding: 3px;
    margin: 2px;
    display:inline-block;
}

.courseBox {
    width: 200px;
}

#course {
    white-space: normal;
    word-break: keep-all;
    word-wrap: break-word;
    margin-top: 0px;
    margin-bottom: 3px;
}

#heart {
    border-radius: 8px;
    padding: 1px;
}