.recBox {
    display: inline-block;
    height: 20px;
    width: 20px;
    z-index: 2;
    margin: 2px;
    border-radius: 3px;
    padding: 1px;
}

.icon {
    color: black;
    display: flex;
    padding: 1px;
    justify-content: center;
    align-items: center;
}